body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #ffffff;
  }
  
  .layout_padding {
    padding: 75px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 75px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 75px;
  }
  
  
  .custom_dark-btn,
  .custom_orange-btn {
    display: inline-block !important;
    padding: 10px 0 !important;
    text-align: center !important; 
    width: 145px !important;
    outline: none !important;
    color: #f7f7f7 !important;
    border: 1px solid transparent !important;
  }
  
  .custom_dark-btn {
    background-color: #000000;
  }
  
  .custom_dark-btn:hover {
    border: 1px solid #000000;
    color: #000000;
    background-color: transparent;
  }
  
  .custom_orange-btn {
    background-color: #fc5d35;
  }
  
  .custom_orange-btn:hover {
    border: 1px solid #fc5d35;
    color: #fc5d35;
    background-color: transparent;
  }
  
  .custom_heading {
    text-align: center;
    font-weight: bold;
  }
  
  .custom_heading-text {
    text-align: center;
  }
  
  
  /*header section*/
  .hero_area {
    height: 98vh;
    background-color: #f7f7f7;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header-section {
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .header-section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header-section .nav_container {
    margin: 0 auto;
  }
  
#home-body{
  margin-top: 80px;
}

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
    color: #343434;
    text-align: center
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    box-shadow: none;
  }
  
  
  
  .navbar-brand,
  .navbar-brand:hover {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #fafcfd;
  }
  
  .custom_nav-container .nav_search-btn {
    /* background-image: url(../images/search-icon.png); */
  
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    width: 45px;
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-size: 20px;
    font-weight: 700;
    color: #2e2e2d;
    margin-top: 5px;
  }
  
  .custom_nav-container {
    z-index: 999;
    padding: 15px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../../../../assets/images/menu.png);
    background-size: 55px;
  }
  
  .cart_btn-container a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #fc5d35;
    color: #f7f7f7;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 10px;
  }
  
  /*end header section*/
  
  /* slider section */
  .slider_section {
    padding-top: 8%;
  }
  
  .slider_item-box {
    width: 100%;
    height: 100%;
  }
  
  .slider_item-box .container {
    height: 100%;
  }
  
  .slider_img-box {
    width: 85%;
    margin: 0 auto;
  }
  
  .slider_img-box img {
    width: 100%;
  }
  
  .slider_item-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  
  /* .slider_item-container .slider_item-detail {}
   */
  .slider_item-detail h1 {
    font-weight: 700;
    font-size: 60px;
    width: 95%;
  }
  
  .slider_item-detail p {
    margin: 45px 0;
  }
  
  .slider_call-btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #edb040;
    color: #fefdfd;
    border-radius: 20px;
  }
  
  .slider_section #carouselExampleControls,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }
  
  .slider_section .custom_carousel-control {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 105px;
    transform: translateY(-50%);
  }
  
  .slider_section .custom_carousel-control .carousel-control-prev,
  .slider_section .custom_carousel-control .carousel-control-next {
    margin: 10px 0;
    position: relative;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
  }
  
  .slider_section .custom_carousel-control .carousel-control-prev {
    background-color: #fc5d35;
  }
  
  .slider_section .custom_carousel-control .carousel-control-next {
    /* background-image: url(../images/next.png); */
    background-color: #000000;
  }
  
  /* end slider section */
  
  
  /* service section */
  /* .foods-section .card .card-img-top {
    width: 50px;
    margin: 0 auto 5px auto;
  } */
  
  .foods-section .card {
    text-align: center;
    box-sizing: border-box;
    position: relative;
  }
  
  .foods-section .card .card-title {
    color: #fc5d35;
  
  }
  
  .foods-section .card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: transparent;
  }
  
  .foods-section .card:hover {
    cursor: pointer;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  
  }
  
  .foods-section .card:hover::after {
    background-color: #fc5d35;
  }
  
  /* end service section */
  
  
  
  
  
  
  /* tasty section */
  
  .tasty_section {
    width: 100%;
    height: 500px;
    background-image: url(../../../../assets/images/tasty-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .tasty_section h2 {
    font-size: 125px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  /* end tasty section */
  
  /* client section */
  .client_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .client_img-box {
    width: 350px;
  }
  
  .client_img-box img {
    width: 100%
  }
  
  .client_container h3 {
    text-align: center;
    margin-bottom: 25px;
  }
  
  
  .client_section .custom_carousel-control {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 105px;
    transform: translateX(-50%);
  }
  
  .client_section .custom_carousel-control .carousel-control-prev,
  .client_section .custom_carousel-control .carousel-control-next {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-color: #292727;
  }
  
  .client_section .custom_carousel-control .carousel-control-prev:hover,
  .client_section .custom_carousel-control .carousel-control-next:hover {
    background-color: #fc5d35;
  }
  
  /* .client_section .custom_carousel-control .carousel-control-prev {
    background-image: url(../images/prev.png);
  }
  
  .client_section .custom_carousel-control .carousel-control-next {
    background-image: url(../images/next.png);
  } */
  
  /* end client section */
  
  /* contact section */
  
  .contact_section {
    background-image: url(../../../../assets/images/orange-dish.png);
    background-repeat: no-repeat;
    background-size: 215px;
    background-position: right center;
  }
  
  .contact_section input {
    border: none;
    outline: none;
    border-bottom: .8px solid #252525;
    width: 90%;
    margin: 10px 0;
  }
  
  .contact_form-container {
    padding: 15px 0 15px 0;
  
  }
  
  .contact_form-container button {
    border: none;
    background-color: #fc5d35;
    color: #fff;
    padding: 8px 40px;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  
  /* contact section */
  
  /* map section */
  .map_section {
    height: 500px;
  }
  
  
  /* end map section */
  
  /* info section */
  .info_section ul {
    padding: 0;
  }
  
  .info_section ul li {
    list-style-type: none;
    margin: 3px 0;
  
  }
  
  .info_section h5 {
    margin-bottom: 12px;
    font-size: 22px;
  }
  
  .info_section .social-box {
    margin: 25px 0;
  }
  
  .info_section .social-box img {
    width: 35px;
    margin-right: 5px;
  }
  
  .info_section .form_container input {
    width: 225px;
    height: 30px;
  }
  
  .info_section .form_container button {
    background-color: #fc5d35;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 30px;
    margin-top: 15px;
    font-size: 15px;
  }
  
  /* end info section */
  
  
  /* footer section*/
  footer{
    background-color: #f7f7f7;
  }
  .footer_section {
    /* background-color: #f7f7f7; */
    background-color: #efeded;
    padding: 20px 0;
    font-family: "Roboto", sans-serif;
  }
  
  .footer_section p {
    color: #191818;
    margin: 0;
    text-align: center;
  }
  
  .footer_section a {
    color: #191818;
  }
  
  /* end footer section*/
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-dropdown{
    visibility: hidden;
    padding: 0;
    position: absolute;
  }
  .nav-item:hover .nav-dropdown{
    visibility: visible;
  }
  .nav-dropdown-ul{
    border-top: 3px solid #fc5d35;
    list-style: none;
    /* padding-bottom: 10px; */
    padding-left: 0;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
  .nav-dropdown li{
    margin-left: 16px;
    width: 120px;

  }
  .nav-dropdown li:nth-child(2n+1){
    margin-left: 0;
  }
  .nav-dropdown-clippath{
    height: 10px;
    width: 10px;
    background-color: #fc5d35;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    top: 0;
    left: 15%;

  }
  .category-dropdown{
    display: grid !important;
    grid-template-columns: auto auto;
    /* background-color: #fc5d35; */
    border-top: 4px solid #fc5d35 !important;
    border-radius: 0 !important;
  }
  .category-dropdown-format{
    visibility: hidden;
  }
  .categories-selector:hover .category-dropdown-format{
    visibility: visible !important;
  }
  /* .category-dropdown-item{
    border-bottom: 1px solid black !important;
  } */

  .nav-dropdown li a{
    padding: 8px;
    color: black;
    border-bottom: 1px solid #ececec;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .nav-dropdown li a:hover{
    color: #7d7d7d;
  }
  
  .card-deck .card {
    margin-bottom: 15px;
  }

  .nav-item{
    position: relative;

  }

  .cart-btn{
    height: 100%;
  }

  .cart-link{
    padding: 10px 30px;
  }
  /* topbar */
  .topbar {
    background-color: #111;
}
  .content-topbar {
    min-height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-topbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
  margin-right: -13px;
}
.left-topbar-item {
  /* font-family: Roboto-Regular; */
  font-size: 12px;
  color: #ccc;
  line-height: 1.8;
  padding: 0 13px;
  position: relative;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

  @media (min-width: 576px) {
    .card-deck {
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-deck .card {
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  @media(min-width: 992px){
    .nav-dropdown-ul{
      display: grid;
      grid-template-columns: auto auto;
    }
  }

  